body {
  text-align: center;
  color: burlywood;
  background-color: #181818;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

p {
  color: burlywood;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Socials {
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 25px;
}

.SocialIcon {
  color: burlywood;
}

.SocialIcon:hover {
  color: white;
}

.SocialLine {
  height: 300px;
  width: 1px;
  background-color: burlywood;
}

.Logo {
  position: absolute;
  top: 25px;
  left: 10px;
}

.Email {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  left: 10px;
  top: 0px;
  height: 52vw;
  width: 25px;
  padding-left: 10px;
}

.EmailText {
  padding-left: 380px;
  color: burlywood;
  text-decoration: none;
  transform: rotate(-90deg)
}

.EmailText p {
  font-size: 18px;
}

.EmailText:hover, .EmailText:hover p {
  color: white;
}

.EmailText:visited {
  color: #deb887;
}

.Main {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 2100px;
  justify-content: space-between;
  width: 1000px;
}

.Welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  height: 500px;
  padding: 200px 0 400px 0;
  width: 1000px;
}

.Welcome p, .Welcome h3 {
  color: white;
}

.Navigation {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  width: 800px;
  justify-content: space-around;
  padding: 40px;
}

.Navigation a, .Navigation p {
  text-decoration: none;
  color: white;
}

.Navigation a:hover, .Navigation p:hover {
  text-decoration: none;
  color: burlywood;
}

.NavLine {
  height: 50px;
  border: 1px solid burlywood;
}

.Sections {
  height: 700px;
  margin-bottom: 200px;
}

.SectionHeader {
  font-size: 50px;
  color:rgb(72, 73, 74);
}

.WelcomeSection .SectionHeader {
  font-size: 50px;
}

.AboutMe {
  text-align: left;
}

.AboutMe p {
  color: white;
  font-size: 24px;
}

.AboutMe p strong {
  color: burlywood;
}

.AboutMe p a {
  color: burlywood;
  text-decoration: none;
}

.AboutMe p a:visited {
  color: burlywood;
}

.AboutMeSection {
  display: flex;
  flex-direction: row;
}